.itemTable{
    /* border: 1px solid #000000; */
    width: 700px;
    position: absolute;
    background: #EEE;
    text-align: center;
    left: 50%;
    margin-left: -350px;
    margin-top: 100px;
}
.itemTable th,.itemTable td{
    border: 1px solid #000000;
}